flows.json
[{"id":"4a18a425.e1ed2c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a8a8d03.9d1264","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"42b18365.cca2dc","type":"ui_group","z":"","name":"Motor Status","tab":"db9f862a.9d3d28","order":3,"disp":true,"width":"6","collapse":false},{"id":"db9f862a.9d3d28","type":"ui_tab","z":"","name":"Smart Agriculture System (IoT)","icon":"dashboard","disabled":false,"hidden":false},{"id":"7d07f3e1.05eecc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Agriculture System (IoT)","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ae1ebae9.cb0d38","type":"ui_group","z":"","name":"Sensor Data","tab":"db9f862a.9d3d28","order":1,"disp":true,"width":"6","collapse":false},{"id":"a177c9ab.580eb8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c22c6093.f8e7e","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"27b9200f.9ceb9","type":"ui_spacer","name":"spacer","group":"1ff10442.62bd7c","order":3,"width":1,"height":"4"},{"id":"594def55.9e386","type":"ui_tab","z":"","name":"Open Weather map info","icon":"dashboard","disabled":false,"hidden":false},{"id":"76e9884a.eb81a8","type":"ui_group","z":"","name":"Current Data","tab":"594def55.9e386","order":1,"disp":true,"width":"6","collapse":false},{"id":"293b6c71.a972c4","type":"ui_group","z":"","name":"Forecasting (6 hrs)","tab":"594def55.9e386","order":2,"disp":true,"width":"6","collapse":false},{"id":"81b2b57a.b72d68","type":"ibmiot in","z":"4a18a425.e1ed2c","authentication":"apiKey","apiKey":"a177c9ab.580eb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"data","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":370,"y":420,"wires":[["db561ab6.b3c498","14041e9e.ad3401","ae9490c3.df51f","130e53ba.3c236c"]]},{"id":"db561ab6.b3c498","type":"debug","z":"4a18a425.e1ed2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":420,"wires":[]},{"id":"14041e9e.ad3401","type":"function","z":"4a18a425.e1ed2c","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["db561ab6.b3c498","d01298d7.94e818"]]},{"id":"ae9490c3.df51f","type":"function","z":"4a18a425.e1ed2c","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["db561ab6.b3c498","367d65f.fe7d59a"]]},{"id":"d01298d7.94e818","type":"ui_gauge","z":"4a18a425.e1ed2c","name":"","group":"ae1ebae9.cb0d38","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":200,"wires":[]},{"id":"367d65f.fe7d59a","type":"ui_gauge","z":"4a18a425.e1ed2c","name":"","group":"ae1ebae9.cb0d38","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":260,"wires":[]},{"id":"4a969492.93515c","type":"inject","z":"4a18a425.e1ed2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":250,"y":100,"wires":[["36374e06.de2102"]]},{"id":"36374e06.de2102","type":"http request","z":"4a18a425.e1ed2c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Faridabad,IN&appid=02d0734040390198fb66028bc1b5b1e4","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":100,"wires":[["db561ab6.b3c498"]]},{"id":"94801c08.9e943","type":"ui_button","z":"4a18a425.e1ed2c","name":"","group":"42b18365.cca2dc","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"lighton\"}","payloadType":"json","topic":"","x":530,"y":480,"wires":[["ad03e7dc.075338","db561ab6.b3c498"]]},{"id":"d459f01a.ecc1","type":"ui_button","z":"4a18a425.e1ed2c","name":"","group":"42b18365.cca2dc","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"lightoff\"}","payloadType":"json","topic":"","x":540,"y":600,"wires":[["ad03e7dc.075338","db561ab6.b3c498"]]},{"id":"ad03e7dc.075338","type":"ibmiot out","z":"4a18a425.e1ed2c","authentication":"apiKey","apiKey":"a177c9ab.580eb8","outputType":"cmd","deviceId":"1","deviceType":"motor","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":540,"wires":[]},{"id":"130e53ba.3c236c","type":"function","z":"4a18a425.e1ed2c","name":"object temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["2797a794.484708"]]},{"id":"2797a794.484708","type":"ui_gauge","z":"4a18a425.e1ed2c","name":"","group":"ae1ebae9.cb0d38","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Temperature","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":320,"wires":[]},{"id":"c6b673b1.463be","type":"openweathermap","z":"7a8a8d03.9d1264","name":"","wtype":"forecast","lon":"","lat":"","city":"faridabad","country":"India","language":"en","x":330,"y":560,"wires":[["3287eda4.9616b2","72ffdd8d.410da4","a6f7ba52.316258"]]},{"id":"80f3a072.2d329","type":"inject","z":"7a8a8d03.9d1264","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["f52b6c82.8dad5","c6b673b1.463be"]]},{"id":"f52b6c82.8dad5","type":"http request","z":"7a8a8d03.9d1264","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/forecast?q=Faridabad,IN&appid=02d0734040390198fb66028bc1b5b1e4","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":200,"wires":[["a29dd1f6.9cbcb","ba4456e8.835d78","5b875d1a.ad1954","45549149.ea8","e7b1a1f2.dd141"]]},{"id":"a29dd1f6.9cbcb","type":"change","z":"7a8a8d03.9d1264","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":80,"wires":[["51f6a577.8a42cc","6c1a66aa.a50b98"]]},{"id":"ba4456e8.835d78","type":"change","z":"7a8a8d03.9d1264","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["51f6a577.8a42cc","a9c47b4b.2ccaf8"]]},{"id":"5b875d1a.ad1954","type":"change","z":"7a8a8d03.9d1264","name":"Weather","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.weather","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":260,"wires":[["51f6a577.8a42cc","6f27bb4d.3ec944"]]},{"id":"45549149.ea8","type":"change","z":"7a8a8d03.9d1264","name":"Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["51f6a577.8a42cc","d593b027.0a92e"]]},{"id":"e7b1a1f2.dd141","type":"change","z":"7a8a8d03.9d1264","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["51f6a577.8a42cc","6c13788b.041998"]]},{"id":"3287eda4.9616b2","type":"change","z":"7a8a8d03.9d1264","name":"Weather after 6 hours","rules":[{"t":"change","p":"payload","pt":"msg","from":"msg.payload[2].weather[0].main","fromt":"str","to":"msg.payload[2].weather[0].description","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":500,"wires":[["c9cfccc6.5ff44","2fdccd7f.be9192"]]},{"id":"72ffdd8d.410da4","type":"change","z":"7a8a8d03.9d1264","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":620,"wires":[["c9cfccc6.5ff44","52282a24.7d5444"]]},{"id":"51f6a577.8a42cc","type":"debug","z":"7a8a8d03.9d1264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":200,"wires":[]},{"id":"a6f7ba52.316258","type":"debug","z":"7a8a8d03.9d1264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":560,"wires":[]},{"id":"c9cfccc6.5ff44","type":"debug","z":"7a8a8d03.9d1264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":560,"wires":[]},{"id":"6c1a66aa.a50b98","type":"ui_text","z":"7a8a8d03.9d1264","group":"76e9884a.eb81a8","order":3,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":80,"wires":[]},{"id":"a9c47b4b.2ccaf8","type":"ui_text","z":"7a8a8d03.9d1264","group":"76e9884a.eb81a8","order":4,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":140,"wires":[]},{"id":"6f27bb4d.3ec944","type":"ui_text","z":"7a8a8d03.9d1264","group":"76e9884a.eb81a8","order":5,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":260,"wires":[]},{"id":"d593b027.0a92e","type":"ui_text","z":"7a8a8d03.9d1264","group":"76e9884a.eb81a8","order":6,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":320,"wires":[]},{"id":"6c13788b.041998","type":"ui_text","z":"7a8a8d03.9d1264","group":"76e9884a.eb81a8","order":7,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":380,"wires":[]},{"id":"2fdccd7f.be9192","type":"ui_text","z":"7a8a8d03.9d1264","group":"293b6c71.a972c4","order":8,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":500,"wires":[]},{"id":"52282a24.7d5444","type":"ui_text","z":"7a8a8d03.9d1264","group":"293b6c71.a972c4","order":9,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":620,"wires":[]}]